:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --primary-color: #ACD9B2;
    --dark: #232830;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

.login {
    width: 100%;
    height: 100vh;
    /* border: solid; */
}

.form-container {
    padding: 20px;
    display: flex;
    flex-direction: column;

    gap: 15px;

    min-width: 300px;
}

.icons-grid {
    height: 5vh;
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* place-items: center; */
    /* border: solid; */
}

.header-menu {
    display: none;
}

.logo1 {
    height: 60%;
    min-height: 18px;
    align-self: center;
    justify-self: left;
}

.logo2 {
    height: 60%;
    min-height: 20px;
    align-self: center;
    justify-self: center;
}

.logo3 {
    height: 70%;
    min-height: 18px;
    align-self: center;
    justify-self: right;
}

.title {
    margin-top: 20px;
    height: 3vh;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 23px;
}

.form {
    height: 85vh;
    /* border: solid; */
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
}

.label {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 18px;
}

.input-text {
    border: none;
    width: 95%;
    margin-left: 7px;
}

::placeholder {
    font-family: 'Quicksand', sans-serif;
    color: var(--black);
    opacity: 80%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
}

.login-button1 {
    height: 59px;    
    
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 23px;
    font-family: 'Quicksand', sans-serif;
    
    border-radius: 8px;
    color: var(--white);
    border: solid 1px var(--primary-color);
    background-color: #ACD9B2;

    cursor: pointer;
}

.login-button2 {
    display: none;
}